<%- include("partials/header"); -%>
<h1>Contact</h1>
<p><%= contactContent %></p>
<p>Contact us by phone or email. </br>
    Phone: (202) 245-9090</br>
    E-mail: dmvparks@gmail.com</br>
    Open 7 days a week from 5 AM - 8 PM. </br>
    Camping available in some areas.</p>
<%- include("partials/footer"); -%>