<%- include("partials/header"); -%>
<h1>Home</h1>
<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3"></h1>
    <p class="lead">"After a day’s walk, everything has twice its usual value." - G.M. Trevelyan</p>
    <p>Register | Log in below to post</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>



<%- include("partials/footer"); -%>