<%- include("partials/header"); -%>
<h1>Maryland Hikes</h1>
<p><%= mdContent %></p>
<center>
    <div class="TrailforksTrailList" data-w="500px" data-h="500px" data-rid="3204" data-displaytype="table"
        data-activitytype="6" data-unsanctioned="0" data-query=""></div>
    powered by <a href="https://www.trailforks.com/">Trailforks.com</a>

    <script type="application/javascript"
        src="https://es.pinkbike.org/326/sprt/j/trailforks/iframeResizer.min.js"></script>
    <script type="text/javascript">
        var script = document.createElement("script"); script.setAttribute("src", "https://es.pinkbike.org/ttl-86400/sprt/j/trailforks/widget.js"); document.getElementsByTagName("head")[0].appendChild(script); var widgetCheck = false;
    </script>
</center>
<%- include("partials/footer"); -%>