<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron centered">
        <h1 class="display-3">BLOG POST</h1>
        <p class="secret-text">Tell us your story!</p>

        <form action="/submit" method="POST">

            <div class="form-group">
                <input type="text" class="form-control text-center" name="secret"
                    placeholder="Hiking tips, trail conditions, etc.">
            </div>
            <button type="submit" class="btn btn-dark">Publish</button>
        </form>


    </div>
</div>
<%- include('partials/footer') %>